<footer class="bg-dark">
  <div class="container">
    <div class="row">
      <!-- col-12 -->
      <div class="col-sm-12 text-center space">
        <a class="back-top" href="#top"><i class="fa fa-arrow-up fa-2x"></i></a>
        <p class="footer-name">{{site.name}}</p>
        <p>{{site.copyright}}</p>
        <!-- social-icons -->
        <div class="footer-social">
          <ul class="socials list-unstyled">
            <li>
              <a href="{{site.social-media.facebook}}">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="{{site.social-media.twitter}}">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="{{site.social-media.google}}">
                <i class="fa fa-google-plus"></i>
              </a>
            </li>
            <li>
              <a href="{{site.social-media.youtube}}">
                <i class="fa fa-youtube"></i>
              </a>
            </li>
          </ul>
        </div>
        <!-- end social-icons -->
      </div>
      <!-- end col 12 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</footer>
<!-- end footer -->
