<div class="sticky-wrap">
  <div class="nav-wrapper">
    <div class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="row">
          <!-- logo/title -->
          <div class="navbar-header">
            <a class="navbar-brand" href="index.html">
              <img src="images/cross9.png" alt=""> {{site.name}}</a>
          </div>
          <!-- mobile menu trigger -->
          <div class="menu-trigger open nav navbar-right">
            <a id="toggle-menu" href="#mmenu-side-menu"><i class="fa fa-bars"></i></a>
          </div>
          <!-- menu links -->
          <div class="side-menu remove">
            <ul class="nav home-nav navbar-nav navbar-right" id="top-nav">
              {{#each menu.items}}
                {{#if childs}}
                  <li class="dropdown">
                    <a href="{{url}}" class="dropdown-toggle" data-toggle="dropdown">{{name}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      {{#each childs}}
                        {{#if childs}}
                          <li class="dropdown-submenu">
                            <a tabindex="-1" href="{{url}}">{{name}}</a>
                            <ul class="dropdown-menu pull-left">
                              {{#each childs}}
                                <li>
                                  <a href="{{url}}" class="external">{{name}}</a>
                                </li>
                              {{/each}}
                            </ul>
                          </li>
                        {{else}}
                          <li>
                            <a href="{{url}}">{{name}}</a>
                          </li>
                        {{/if}}
                      {{/each}}
                    </ul>
                  </li>
                {{else}}
                  {{#if @first}}
                    <li class="active">
                      <a href="{{url}}">{{name}}</a>
                    </li>
                  {{else}}
                    <li>
                      <a href="{{url}}">{{name}}</a>
                    </li>
                  {{/if}}
                {{/if}}
              {{/each}}
            </ul>
          </div>
          <!--end menu links -->
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </div>
    <!-- end navbar -->
  </div>
</div>
<!-- end nav -->
