<!DOCTYPE html>
<html class="no-js" lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Battle Template</title>
  <meta name="author" content="">
  <meta name="description" content="">
  <!-- icons -->
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <!-- place `favicon.ico` in the root directory -->
  <!-- fonts -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800">
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body class="home-page">
  <div class="wrapper">
    {{> pageloader}} {{> header}} {{> @partial-block }} {{> footer}}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPV-QIVAsBjxSnfu8e_y1PblsACnja1Zc"></script>
  </div>
  <!-- inject:js -->
  <!-- endinject -->
</body>
</html>
