<!DOCTYPE html>
<html class="no-js" lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Battle Template</title>
  <meta name="author" content="">
  <meta name="description" content="">
  <!-- icons -->
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <!-- place `favicon.ico` in the root directory -->
  <!-- fonts -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800">
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body class="home">
  <div id="wrapper">
    {{> pageloader}} {{> header}}
    <div class="post-wrap">
      <div class="container">
        <div class="row">
          <div class="section-head col-sm-8 col-sm-offset-2 blog-intro text-center">
            <h1 class="section-title">{{{post.title}}}</h1>
            <hr class="style" style="width:10%;">
            <!-- post meta -->
            <div class="post-meta">
              <ul>
                <li class="date">{{{post.date}}}</li>
                <li>
                  <span>{{{post.author}}}</span>
                </li>
                <li>
                  <span>{{{post.categories}}}</span>
                </li>
                <li>
                  <span>{{{post.comments-number}}}</span>
                </li>
              </ul>
            </div>
            <!-- end post meta -->
          </div>
          <!-- end col 8 -->
          {{> @partial-block }}
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </div>
    <!-- end blog-wrapper -->
    {{> footer}}
    <!-- inject:js -->
    <!-- endinject -->
  </div>
</body>
