$white: #fff;
$black: #191919;
$black90: rgba(0, 0, 0, .9);
$black50: rgba(0, 0, 0, .5);
$black15: rgba(0, 0, 0, .15);
$accent: #278dc5;
$dark-blue: #434955;
$dark-grey: #999;
$medium-grey: #333;
$grey: #eee;
$grey80: rgba(170, 170, 170, .8);
$red: #8a1f11;
$medium-red: #fbc2c4;
$light-red: #fbe3e4;
