/**
 *
 * Table Of Contents
 *
 * 1 - Global Styles
 * 2 - Helper Classes
 *     1 - Layout
 *     2 - Backgrounds
 *     3 - Spaces
 *     4 - Animations
 *     5 - Other elements
 * 3 - Page Loader
 * 4 - Scrollbar
 * 5 - Buttons
 * 6 - Social Buttons
 * 7 - Responsive Videos
 * 8 - Forms
 * 9 - Owl Carousel
 * 10 - Header & Navigation
 * 11 - Fullscreen Slider
 * 12 - Services
 * 13 - Tabs Panels
 * 14 - Progress Bars
 * 15 - Info
 * 16 - Members
 * 17 - Portfolio
 * 18 - Vertical Features
 * 19 - Testimonials
 * 20 - Partners
 * 21 - More Features
 * 22 - Timeline
 * 23 - FAQs
 * 24 - Blog
 * 25 - Contact
 * 26 - Blog Pages
 * 27 - Widgets
 * 28 - Pagination
 * 29 - Footer
 *
**/

@import 'variables';
@mixin coverer($top: 0, $left: 0) {
  position: absolute;
  top: $top;
  left: $left;
  width: 100%;
  height: 100%;
}
@mixin bgimage($name) {
  $url: '../images/#{$name}.jpg';
  background: url($url);
  background-position-x: 50%;
  background-size: cover;
}
@mixin bgimage-fixed($name) {
  $url: '../images/#{$name}.jpg';
  color: $white;
  background: url($url) center center fixed;
  background-size: cover;
}

/* ==========================================================================
   GLOBAL STYLES
   ========================================================================== */

html,
body {
  height: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  position: relative;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  color: $dark-grey;
  background: $white;
}
a {
  color: $accent;
  &:hover,
  &:active,
  &:focus {
    color: $accent;
    border: 0;
    outline: none;
  }
  .bg-dark & {
    color: $white;
    &:hover,
    &:focus {
      color: $white;
    }
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-style: normal;
  line-height: 1.2125em;
  margin-top: .2em;
  margin-bottom: .5em;
  word-wrap: break-word;
  color: $black;
  strong {
    color: $accent;
    .bg-dark & {
      color: $white;
    }
  }
}
p {
  font-family: inherit;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  word-wrap: break-word;
  & + & {
    margin-bottom: 1.25em;
  }
}
ul {
  margin: 0;
  padding: 0;
}
code {
  white-space: normal;
  color: $dark-grey;
}
hr {
  border-top: 1px solid $black;
  .bg-dark & {
    border-top: 1px solid $white;
  }
}

/* ==========================================================================
   HELPER CLASSES
   ========================================================================== */


/*
* LAYOUT
*/

.wrapper {
  height: 100%;
}
.section-head {
  .section-title {
    font-size: 30px;
    font-weight: 300;
    max-width: 100%;
    text-transform: uppercase;
  }
}
.item-header {
  font-size: 21px;
  font-weight: 400;
}

/*
* BACKGROUNDS
*/

.bg-dark {
  background: $black;
}
.parallax {
  position: relative;
}

/*
* SPACES
*/

.space {
  padding: 50px 0;
}
.no-padding-bottom {
  padding-bottom: 0;
}
.clear {
  clear: both;
}

/*
* ANIMATIONS
*/

.animated {
  visibility: hidden;
  animation-delay: .3s;
}
.visible,
.owl-item {
  visibility: visible;
}

/*
* OTHER ELEMENTS
*/

.circular {
  line-height: 50px;
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  text-align: center;
  color: $white;
  border-radius: 50%;
  background: $accent;
  &:hover {
    animation: pulse 1s;
  }
}
.icon {
  font-size: 25px;
  line-height: 60px;
}
.map {
  width: 100%;
  height: 400px;
}
.overlay {
  z-index: 0;
  opacity: .7;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGElEQVQIW2NkYGD4D8SMQAwhYAIwDlgAADZsAwPtIY3UAAAAAElFTkSuQmCC') $black50;
  @include coverer;
}

/* ==========================================================================
   PAGE LOADER
   ========================================================================== */

.pageloader {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background: $white;
}
.loader-item {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px;
  text-align: center;
  color: $accent;
  border-color: $accent;
  border-top: 3px solid;
  border-right: 3px solid;
  border-bottom: 3px solid transparent;
  border-left: 3px solid;
  border-radius: 200px;
  background: $white;
}

/* ==========================================================================
   SCROLLBAR
   ========================================================================== */

::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-thumb {
  border: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: $black90;
}
::-webkit-scrollbar-track {
  background: $grey80;
}

/* ==========================================================================
   BUTTONS
   ========================================================================== */

.btn {
  font-size: 15px;
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 0 auto;
  padding: 10px 20px;
  cursor: pointer;
  transition: color .3s;
  text-decoration: none;
  text-transform: uppercase;
  color: $white;
  border: 0;
  border-radius: 0;
  outline: none;
  background: $accent;
  &:hover {
    animation: pulse 1s;
    text-decoration: none;
    color: $white;
  }
  &:active {
    position: relative;
    top: 2px;
  }
}
.btn-border {
  color: $accent;
  border: 2px solid $accent;
  background: transparent;
  @extend .btn;
  &:hover {
    color: $accent;
    background: $white;
  }
  @media (max-width: 770px) {
    font-size: 12px;
  }
}
.back-top {
  position: absolute;
  top: -30px;
  left: 48%;
  padding: 10px;
  color: $white;
  border-radius: 3px;
  background: $black;
  @media (max-width: 770px) {
    left: 46%;
  }
  @media (max-width: 550px) {
    left: 45%;
  }
  @media (max-width: 480px) {
    left: 44%;
  }
}

/* ==========================================================================
   SOCIAL BUTTONS
   ========================================================================== */

.socials {
  display: inline-block;
  margin-bottom: 0;
  i {
    font-size: 16px;
  }
  li {
    z-index: 2;
    display: table;
    float: left;
    width: 35px;
    height: 35px;
    margin: 0 5px;
    list-style: none;
    transition: background 300ms linear, border 300ms linear;
    text-align: center;
    border: 1px solid $white;
    border-radius: 50%;
    a {
      display: table-cell;
      vertical-align: middle;
      color: $white;
    }
    &:hover {
      color: $white;
      border: 1px solid $accent;
      background: $accent;
    }
  }
}

/* ==========================================================================
   RESPONSIVE VIDEOS
   ========================================================================== */

.responsive-video-div {
  > div {
    position: relative;
    margin-bottom: 20px;
  }
  iframe {
    @include coverer;
  }
}
.responsive-video-vimeo {
  max-width: 1130px;
  > div {
    padding-top: 56.26506%;
  }
}
.responsive-video-youtube {
  max-width: 1130px;
  > div {
    padding-top: 56.271981%;
  }
}

/* ==========================================================================
   FORMS
   ========================================================================== */

form {
  width: 100%;
}
.form-control {
  line-height: 1.428571429;
  display: block;
  width: 100%;
  height: 42px;
  padding: 6px 12px;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  color: $dark-grey;
  border: 1px solid $dark-grey;
  border-radius: 0;
  background: $white;
  box-shadow: none;
  &:focus {
    border-color: $dark-grey;
    outline: 0;
    box-shadow: none;
  }
}
.message {
  margin: 10px 0;
  padding: 0;
  text-align: center;
}
.error_message {
  line-height: 22px;
  display: block;
  padding: 3px 10px 3px 35px;
  color: $red;
  border: 1px solid $medium-red;
  border-radius: 5px;
  background: $light-red url('images/error.gif') no-repeat 10px center;
}
.loader {
  padding: 0 10px;
}

/* ==========================================================================
   OWL CAROUSEL
   ========================================================================== */

.owl-carousel,
.owl-stage-outer,
.owl-stage,
.owl-wrapper-outer,
.owl-wrapper,
.owl-item,
.owl-item li {
  height: 100%;
  padding: 0;
  list-style: none;
}
.owl-dot {
  span {
    background-color: $black50;
    &:hover {
      background-color: $black50;
    }
  }
  &.active,
  &:hover {
    span {
      background-color: $black;
    }
  }
}
.owl-nav {
  position: absolute;
  top: 40%;
  width: 100%;
  transform: translateY(-40%);
  div {
    font-size: 20px;
    font-weight: 400;
    line-height: 55px;
    display: block;
    width: 30px;
    height: 60px;
    margin: 0;
    padding: 0;
    transition: background .15s ease;
    text-align: center;
    text-decoration: none;
    opacity: 1;
    color: $white;
    border-radius: 0;
    background: $black50;
    &:hover {
      background: $black90;
    }
  }
  .disabled {
    display: none;
  }
  .owl-next {
    float: right;
  }
  .owl-prev {
    float: left;
  }
}

/* ==========================================================================
   HEADER & NAVIGATION
   ========================================================================== */

.nav-wrapper {
  z-index: 9999;
  width: 100%;
  background: $white;
  box-shadow: 0 1px 3px $black15;
  a {
    transition: .3s;
  }
}
.navbar {
  margin-bottom: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  background: $white;
  .navbar-header {
    padding: 6px;
    text-align: center;
    color: $white;
  }
  .navbar-brand {
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    float: left;
    padding: 10px 30px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: $black;
    img {
      display: inline-block;
      height: 30px;
    }
    &:hover {
      color: $black;
    }
  }
}
.navbar-inverse {
  .navbar-nav > {
    li > a,
    .open > a {
      font-size: 12px;
      font-weight: 700;
      padding-top: 21px;
      padding-bottom: 21px;
      text-transform: uppercase;
      color: $medium-grey;
      border-top: 4px solid $white;
      &:hover,
      &:focus {
        color: $accent;
        border-top: 4px solid $accent;
        background: $white;
      }
    }
    .active > a {
      color: $accent;
      border-top: 4px solid $accent;
      background: $white;
      &:hover,
      &:focus {
        color: $accent;
        border-top: 4px solid $accent;
        background: $white;
      }
    }
  }
}
.menu-trigger {
  &.open {
    display: none;
  }
}
.dropdown-menu {
  margin-bottom: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  background: $white;
  box-shadow: 0 1px 3px $black15;
  li {
    a {
      padding: 10px 20px;
      &:hover,
      &:focus {
        text-decoration: none;
        color: $white;
        background: $accent;
      }
    }
  }
  &.pull-left {
    left: 100%;
    float: none;
    margin-right: 10px;
  }
  &.pull-right {
    right: 100%;
    left: -100%;
    float: none;
    margin-left: 10px;
  }
  .active > a {
    text-decoration: none;
    color: $black;
    outline: 0;
    background: $accent;
    &:hover,
    &:focus {
      text-decoration: none;
      color: $black;
      outline: 0;
      background: $accent;
    }
  }
}
.dropdown-submenu {
  position: relative;
  &:hover > .dropdown-menu {
    display: block;
  }
  .dropdown-menu {
    top: 0;
    margin-top: -6px;
    margin-left: -1px;
  }
  a {
    &::after {
      display: block;
      float: right;
      width: 0;
      height: 0;
      margin-top: 5px;
      margin-right: -10px;
      content: ' ';
      border-width: 5px 0 5px 5px;
      border-style: solid;
      border-color: transparent $dark-grey;
    }
  }
}
@media (min-width: 770px) {
  .navbar-nav {
    &.navbar-right {
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
@media (max-width: 770px) {
  #mmenu-side-menu {
    background: $white;
  }
  .navbar-header {
    float: left;
    width: 100%;
  }
  .navbar-nav {
    &.navbar-right {
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .menu-trigger {
    &.open {
      font-size: 25px;
      position: absolute;
      right: 15px;
      display: block;
      width: 20%;
      padding: 15px 30px;
      text-align: right;
      color: $black;
      a {
        color: $black;
      }
    }
  }
  .side-menu,
  .caret {
    display: none;
  }
}

/* ==========================================================================
   FULLSCREEN SLIDER
   ========================================================================== */

.slides {
  height: 100%;
  .image0 {
    @include bgimage($name: 1);
  }
  .image1 {
    @include bgimage($name: 2);
  }
  .image2 {
    @include bgimage($name: 3);
  }
  .slide-item {
    position: relative;
  }
  @media (max-width: 770px) {
    .owl-controls {
      display: none;
    }
  }
}
.caption-wrapper {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  margin: -8% 0 0;
  text-align: center;
}
.slide-caption {
  margin: 0 auto;
  .slide-title {
    font-size: 85px;
    font-weight: 800;
    line-height: 100px;
    margin-top: 0;
    margin-bottom: .3em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $white;
    @media (min-width: 1400px) {
      line-height: 200px;
    }
    @media (max-width: 480px) {
      font-size: 60px;
      line-height: 60px;
      max-width: 100%;
    }
  }
  .btn {
    width: 140px;
  }
  p {
    font-weight: 400;
    margin-bottom: .2em;
    text-transform: uppercase;
    color: $white;
  }
}

/* ==========================================================================
   SERVICES
   ========================================================================== */

.services-box {
  padding: 35px 20px;
  text-align: center;
  img {
    position: relative;
    display: block;
    width: auto;
    height: 100px;
    margin: 0 auto 25px;
  }
}

/* ==========================================================================
   TABS PANELS
   ========================================================================== */

.nav-tabs {
  li {
    a {
      padding: 10px;
      border-top: 3px solid transparent;
      border-radius: 0;
      &:hover,
      &:focus {
        border: 1px solid transparent;
        border-top: 3px solid transparent;
        background: transparent;
      }
    }
    &.active > a {
      border-top: 3px solid $accent;
      &:hover,
      &:focus {
        border-top: 3px solid $accent;
      }
    }
  }
}
.tab-content {
  .tab-pane {
    padding: 10px 0;
  }
}

/* ==========================================================================
   PROGRESS BARS
   ========================================================================== */

.progress {
  position: relative;
  height: auto;
}
.progress-bar {
  width: 0;
  padding: 3px 20px;
  transition: width 2s ease-in-out;
  text-align: left;
  background: $accent;
  span {
    position: absolute;
    top: 3px;
    right: 10px;
    color: $black;
  }
}
.progress-bars {
  .desc {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
    color: $black;
  }
}

/* ==========================================================================
   INFO
   ========================================================================== */

.interesting-info {
  @include bgimage-fixed($name: 3);
  .container {
    position: relative;
    z-index: 10;
  }
}
.fact {
  text-align: center;
  .factor {
    font-size: 35px;
  }
  p {
    font-size: 25px;
    font-weight: 400;
    margin: 20px;
    @media (max-width: 770px) {
      font-size: 20px;
    }
  }
}

/* ==========================================================================
   MEMBERS
   ========================================================================== */

.member {
  .image-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    img {
      margin: 0 auto;
    }
  }
  .info {
    padding: 20px;
    text-align: center;
    span {
      font-weight: 700;
      display: block;
      margin-bottom: 5px;
      color: $accent;
    }
  }
  &.animated {
    &:nth-child(1) {
      animation-delay: .3s;
    }
    &:nth-child(2) {
      animation-delay: .5s;
    }
    &:nth-child(3) {
      animation-delay: .7s;
    }
    &:nth-child(4) {
      animation-delay: .9s;
    }
  }
}

/* ==========================================================================
   PORTFOLIO
   ========================================================================== */

.filters {
  line-height: 40px;
  margin: 10px 0 40px;
  padding: 10px 0;
  list-style: none;
  li {
    line-height: 200%;
    display: inline-block;
    margin-top: 5px;
    a {
      font-size: 12px;
      padding: 7px 25px;
      transition: .3s;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: $medium-grey;
      border: 2px solid $accent;
      background: $white;
      &.active,
      &:hover {
        padding: 7px 25px;
        text-decoration: none;
        color: $white;
        border: 2px solid $accent;
        background: $accent;
      }
    }
  }
}
.home-projects {
  font-size: 0;
}
.mix {
  display: none;
}
.project-item {
  width: 33.333333333333%;
  margin-bottom: 0;
  .actions {
    margin-top: 20%;
    cursor: pointer;
  }
  figcaption {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: -1px;
    left: 0;
    transition: opacity .25s ease-out;
    text-align: center;
    opacity: 0;
    border: 1px solid transparent;
    background: $black90;
    backface-visibility: hidden;
    &:hover {
      opacity: 1;
    }
  }
  figure {
    position: relative;
  }
  .fig-title {
    cursor: auto;
    transition: top ease .5s;
    color: $white;
    @include coverer;
  }
  &:hover {
    .fig-title {
      top: 40%;
    }
  }
  @media (min-width: 1200px) {
    width: 25%;
  }
  @media (max-width: 770px) {
    width: 50%;
  }
  @media (max-width: 480px) {
    width: 100%;
  }
}

/* ==========================================================================
   VERTICAL FEATURES
   ========================================================================== */

.vertical-features {
  background-size: cover;
}
.feature {
  .circular {
    margin-top: 10px;
  }
  .features-box {
    width: 88%;
    margin-bottom: 20px;
  }
  &.animated {
    &:nth-child(1),
    &:nth-child(2) {
      animation-delay: .4s;
    }
    &:nth-child(3),
    &:nth-of-type(4) {
      animation-delay: .7s;
    }
    &:nth-child(5),
    &:nth-child(6) {
      animation-delay: 1s;
    }
  }
  &:nth-child(2n+1) {
    .circular {
      float: right;
    }
    .features-box {
      float: right;
      padding-right: 10px;
      text-align: right;
    }
  }
  &:nth-child(2n+2) {
    .circular {
      float: left;
    }
    .features-box {
      float: left;
      padding-left: 10px;
      text-align: left;
    }
  }
  @media (max-width: 770px) {
    &:nth-child(2n+1),
    &:nth-child(2n+2) {
      .circular {
        display: block;
        float: none;
        margin: 0 auto;
      }
      .features-box {
        float: none;
        width: 100%;
        margin-bottom: 30px;
        padding-left: 0;
        text-align: center;
        p {
          display: inline-block;
          max-width: 70%;
        }
      }
    }
  }
}

/* ==========================================================================
   TESTIMONIALS
   ========================================================================== */

.quote-section {
  @include bgimage-fixed($name: 4);
  .container {
    position: relative;
    z-index: 10;
  }
}
.attribution {
  font-size: 18px;
  width: 100%;
  text-align: center;
  .attr-info {
    strong {
      color: $accent;
    }
  }
}
.quote {
  text-align: center;
  p {
    font-size: 22px;
    font-weight: 400;
    font-style: italic;
    line-height: 30px;
    position: relative;
    z-index: 2;
  }
}

/* ==========================================================================
   PARTNERS
   ========================================================================== */

.partner {
  img {
    max-width: 100%;
  }
}

/* ==========================================================================
   MORE FEATURES
   ========================================================================== */

.more-features-box {
  padding: 35px 20px;
  text-align: center;
  .icon {
    margin-right: 10px;
  }
  &.animated {
    &:nth-child(1) {
      animation-delay: .4s;
    }
    &:nth-child(2) {
      animation-delay: .7s;
    }
    &:nth-child(3) {
      animation-delay: 1s;
    }
    &:nth-child(4) {
      animation-delay: 1.3s;
    }
    &:nth-child(5) {
      animation-delay: 1.6s;
    }
    &:nth-child(6) {
      animation-delay: 1.9s;
    }
  }
}

/* ==========================================================================
   TIMELINE
   ========================================================================== */

.timeline {
  @include bgimage-fixed($name: 3);
}
.inner {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 0 150px;
  text-align: center;
  &::after {
    clear: both;
  }
}
.line {
  position: absolute;
  left: 49.9%;
  width: 3px;
  height: 100%;
  background: $white;
}
.note-circle {
  position: absolute;
  z-index: 20;
  top: 50%;
  right: auto;
  left: -10.7%;
  display: block;
  width: 21px;
  height: 21px;
  border-radius: 100px;
  background: $white;
  @media (max-width: 1200px) {
    left: -11%;
  }
  @media (max-width: 990px) {
    left: -12%;
  }
  @media (max-width: 770px) {
    top: -45px;
    left: 48.5%;
  }
  @media (max-width: 550px) {
    left: 48%;
  }
  @media (max-width: 480px) {
    left: 47%;
  }
}
.note {
  position: relative;
  float: right;
  width: 46%;
  min-height: 100px;
  margin: 35px 0;
  padding: 14px 14px 0;
  cursor: pointer;
  text-align: left;
  background: $accent;
  p {
    &.timeline-head,
    &.timeline-desc {
      color: $white;
    }
    &.timeline-head {
      font-size: 17px;
      margin: 3px auto;
    }
    &.timeline-desc {
      font-size: 13px;
    }
  }
  &::after {
    background: $accent;
  }
  &:nth-of-type(2n) {
    float: left;
    clear: left;
    .note-circle {
      right: -10.7%;
      left: auto;
      @media (max-width: 1200px) {
        right: -11.4%;
      }
      @media (max-width: 990px) {
        right: -12.3%;
      }
      @media (max-width: 770px) {
        right: 48.5%;
        left: auto;
      }
      @media (max-width: 550px) {
        right: 48%;
      }
      @media (max-width: 480px) {
        right: 47%;
      }
    }
  }
  &:nth-of-type(2n+1) {
    &::before {
      position: absolute;
      top: 50%;
      right: auto;
      left: -10px;
      display: block;
      width: 0;
      height: 0;
      content: '';
      border-top: 10px solid transparent;
      border-right: 10px solid $accent;
      border-bottom: 10px solid transparent;
      @media (max-width: 770px) {
        top: -20px;
        right: auto;
        left: 48.5%;
        width: 0;
        height: 0;
        border-right: 10px solid transparent;
        border-bottom: 10px solid $accent;
        border-left: 10px solid transparent;
      }
      @media (max-width: 550px) {
        left: 48%;
      }
      @media (max-width: 480px) {
        left: 47%;
      }
    }
  }
  &:nth-of-type(2n+2) {
    &::before {
      position: absolute;
      top: 50%;
      right: -10px;
      left: auto;
      content: '';
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 10px solid $accent;
      @media (max-width: 770px) {
        top: -20px;
        right: 48.5%;
        left: auto;
        width: 0;
        height: 0;
        border-right: 10px solid transparent;
        border-bottom: 10px solid $accent;
        border-left: 10px solid transparent;
        @media (max-width: 550px) {
          right: 48%;
        }
        @media (max-width: 480px) {
          right: 47%;
        }
      }
    }
  }
  &.animated {
    &:nth-child(3) {
      animation-delay: .4s;
    }
    &:nth-child(4) {
      animation-delay: .7s;
    }
    &:nth-child(5) {
      animation-delay: 1s;
    }
    &:nth-child(6) {
      animation-delay: 1.3s;
    }
    &:nth-child(8) {
      animation-delay: 1.6s;
    }
    &:nth-child(9) {
      animation-delay: 1.9s;
    }
  }
  @media (max-width: 770px) {
    width: 100%;
  }
}
.start {
  position: absolute;
  bottom: -1%;
  left: 49.9%;
  display: block;
  clear: both;
  width: 70px;
  height: 70px;
  margin-left: -35px;
  a {
    font-size: 20px;
    line-height: 60px;
    display: block;
    width: 70px;
    height: 70px;
    text-align: center;
    color: $black;
    border-radius: 50%;
    background: $white;
    &:hover {
      text-decoration: none;
    }
  }
}
.time {
  font-size: 20px;
  line-height: 65px;
  position: relative;
  clear: both;
  width: 70px;
  height: 70px;
  margin: 30px auto;
  cursor: default;
  text-align: center;
  color: $black;
  border-radius: 50%;
  background: $white;
  + .note {
    margin-top: -5px;
  }
  @media (max-width: 770px) {
    margin: 30px auto 80px;
  }
}
.today {
  line-height: 65px;
  width: 70px;
  height: 70px;
  margin: 40px auto;
  color: $black;
  border-radius: 50%;
  background: $white;
  @media (max-width: 770px) {
    margin: 40px auto 80px;
  }
}

/* ==========================================================================
   FAQS
   ========================================================================== */

.panel {
  margin: 0 0 10px;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}
.panel-collapse {
  line-height: 18px;
  .text {
    padding: 15px 20px;
  }
}
.panel-title {
  a {
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    position: relative;
    display: block;
    padding: 0 0 0 70px;
    text-decoration: none;
    text-transform: none;
    color: $dark-blue;
    background: $grey;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
  span {
    font-size: 20px;
    font-weight: 700;
    line-height: 35px;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    background: $accent;
    &::before {
      content: '-';
    }
  }
  .collapsed {
    span {
      &::before {
        content: '+';
      }
    }
  }
}

/* ==========================================================================
   BLOG
   ========================================================================== */

.blog {
  position: relative;
  .owl-nav {
    .owl-next {
      margin-right: 10px;
    }
    .owl-prev {
      margin-left: 10px;
    }
    @media (max-width: 1000px) {
      top: 100px;
      transform: none;
    }
  }
}
.blog-item {
  margin: 0 10px;
  .item-content {
    margin-bottom: 20px;
    background: $white;
  }
}
.post-entry {
  .divider {
    width: 20%;
    margin: 35px auto;
    border-bottom: 1px solid $grey;
  }
}
.post-media,
.post-title,
.post-meta {
  display: block;
}
.post-media {
  position: relative;
  margin-bottom: 20px;
  img {
    display: block;
    width: 100%;
  }
}
.post-meta {
  font-size: 10px;
  line-height: 20px;
  margin: 15px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  li {
    display: inline;
    margin-right: 5px;
    &::after {
      margin-left: 8px;
      content: '/';
    }
    &:last-child {
      margin-right: 0;
      &::after {
        margin-left: 0;
        content: '';
      }
    }
  }
}
.post-title {
  position: relative;
  width: 100%;
  .title {
    font-weight: 400;
    margin: 0;
    letter-spacing: 1px;
    color: $black;
    a {
      font-size: 22px;
      font-weight: 400;
      line-height: 27px;
      margin: 0;
      letter-spacing: 1px;
      color: $black;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
@media (max-width: 480px) {
  .blog-intro {
    .section-title {
      font-size: 40px;
    }
  }
}

/* ==========================================================================
   CONTACT
   ========================================================================== */


/* Contact Block */

.contact-info {
  color: $white;
  background: url('../images/4.jpg') center center fixed;
  background-size: cover;
  .container {
    position: relative;
    z-index: 10;
  }
  .icon-label {
    font-size: 25px;
    margin: 10px;
  }
  p {
    font-size: 20px;
    font-weight: 400;
  }
}

/* Contact Page */

.contact {
  margin-top: 70px;
  margin-bottom: 70px;
  .widget {
    i {
      margin-right: 10px;
    }
  }
}

/* ==========================================================================
   BLOG PAGES
   ========================================================================== */

.blog-content {
  .blog-item {
    margin-bottom: 50px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.blog-intro {
  margin-bottom: 50px;
  .section-title {
    font-size: 50px;
  }
}
.blog-wrap,
.post-wrap {
  margin-top: 80px;
}
.menu-link {
  margin-bottom: 9px;
  > li {
    border-top: 1px solid $grey;
    a {
      font-size: 15px;
      font-weight: 300;
      line-height: 24px;
      display: inline-block;
      padding: 8px 0;
      color: $dark-grey;
      &:hover {
        text-decoration: none;
        color: $accent;
      }
    }
    &:first-child {
      border: 0;
    }
  }
}
.categories {
  padding: 0;
  li {
    list-style-type: none;
    a {
      font-weight: 600;
      line-height: 30px;
      transition: color .3s;
      &:hover {
        color: $accent;
      }
    }
  }
}

/* ==========================================================================
   WIDGETS
   ========================================================================== */

.widget {
  margin-bottom: 30px;
  ul {
    margin-bottom: 10px;
    list-style: none;
  }
  li {
    border-top: 1px solid $grey;
    span,
    a {
      font-size: 15px;
      font-weight: 300;
      line-height: 24px;
      display: inline-block;
      padding: 8px 0;
    }
    span {
      float: right;
    }
    a {
      color: $dark-grey;
      &:hover {
        text-decoration: none;
        color: $accent;
      }
    }
    &:first-child {
      border: 0;
    }
  }
  .widget-title {
    text-transform: uppercase;
  }
}
.widget-post {
  float: left;
  width: 100%;
  margin-bottom: 20px;
  list-style: none;
  border-top: 0;
  .widget-post-title {
    font-size: 16px;
    display: inline;
  }
}
.tabbed {
  img {
    width: 70px;
    margin-right: 10px;
  }
  li {
    border-top: 0;
  }
  .date {
    font-size: 13px;
    float: right;
  }
}
.tagcloud {
  a {
    line-height: 26px;
    display: inline-block;
    margin: 0 5px 8px;
    padding: 0 10px;
    transition: .3s;
    vertical-align: top;
    color: $black;
    border: 1px solid $grey;
    &:hover {
      text-decoration: none;
      color: $white;
      background: $accent;
    }
  }
}

/* ==========================================================================
   PAGINATION
   ========================================================================== */


/*
* POST PAGINATION
*/

.pager {
  li {
    a {
      display: inline-block;
      padding: 10px 15px;
      color: $white;
      border: 0;
      border-radius: 0;
      background: $accent;
      &:hover,
      &:focus {
        text-decoration: none;
        background: $accent;
      }
    }
  }
}

/*
* ARCHIVES PAGINATION
*/

.pagination {
  border-radius: 0;
  .active {
    a {
      border-color: $accent;
      background: $accent;
    }
  }
  li {
    a {
      margin: 0 5px;
      color: $accent;
      border: 1px solid $accent;
      background: $white;
      &:hover,
      &:focus {
        color: $white;
        background: $accent;
      }
    }
    &:first-child {
      a {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
    &:last-child {
      a {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }
}

/* ==========================================================================
   FOOTER
   ========================================================================== */

footer {
  .footer-name {
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    line-height: 1.2125em;
    margin-top: .2em;
    margin-bottom: .5em;
    text-transform: uppercase;
    word-wrap: break-word;
    color: $white;
  }
  .footer-social {
    margin-top: 20px;
  }
}
