{{#> blog }}
  <div class="col-sm-9 pull-right">
    <div class="blog-content">
      <!-- post -->
      <article class="blog-item">
        <!-- post img -->
        <div class="post-media">
          <a href="#">
            <img src="images/blog-1.jpg" alt="" class="img-responsive">
          </a>
        </div>
        <!-- post content -->
        <div class="item-content">
          <!-- post title -->
          <div class="post-title">
            <h2 class="title">
              <a href="blog.html">Behaved the comfort another fifteen eat.</a>
            </h2>
          </div>
          <!-- post meta -->
          <div class="post-meta">
            <ul>
              <li class="date">January 23, 2014</li>
              <li>
                <span>By
                  <a href="#">John Doe</a>
                </span>
              </li>
              <li>
                <span>in
                  <a href="#">Tutorials</a>
                </span>
              </li>
            </ul>
          </div>
          <!-- post entry -->
          <div class="post-entry">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam semper tincidunt. Suspendisse potenti. In elementum libero nunc, ut rhoncus tellus mollis vel. Nulla gravida, est ac venenatis rutrum, lacus purus tempus ligula, eu consequat enim massa et odio. Nunc placerat consectetur dolor, a ullamcorper neque sollicitudin sit amet. Aenean interdum luctus risus, quis tristique orci venenatis ut. Nullam bibendum ultricies dolor, id vulputate elit consequat at. Nunc ut justo odio. In non dui turpis. Sed quis purus quam. Curabitur rhoncus eros ornare arcu tincidunt ornare…</p>
          </div>
          <!-- read more button -->
          <a href="#" class="btn-border">Read more</a>
        </div>
        <!-- end post content -->
      </article>
      <!-- end post -->
      <!-- post -->
      <article class="blog-item">
        <!-- post img -->
        <div class="post-media">
          <a href="#">
            <img src="images/blog-2.jpg" alt="" class="img-responsive">
          </a>
        </div>
        <!-- post content -->
        <div class="item-content">
          <!-- post title -->
          <div class="post-title">
            <h2 class="title">
              <a href="blog.html">Consider declared out expenses her concerns.</a>
            </h2>
          </div>
          <!-- post meta -->
          <div class="post-meta">
            <ul>
              <li class="date">January 23, 2014</li>
              <li>
                <span>By
                  <a href="#">John Doe</a>
                </span>
              </li>
              <li>
                <span>in
                  <a href="#">Tutorials</a>
                </span>
              </li>
            </ul>
          </div>
          <!-- post entry -->
          <div class="post-entry">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam semper tincidunt. Suspendisse potenti. In elementum libero nunc, ut rhoncus tellus mollis vel. Nulla gravida, est ac venenatis rutrum, lacus purus tempus ligula, eu consequat enim massa et odio. Nunc placerat consectetur dolor, a ullamcorper neque sollicitudin sit amet. Aenean interdum luctus risus, quis tristique orci venenatis ut. Nullam bibendum ultricies dolor, id vulputate elit consequat at. Nunc ut justo odio. In non dui turpis. Sed quis purus quam. Curabitur rhoncus eros ornare arcu tincidunt ornare…</p>
          </div>
          <!-- read more button -->
          <a href="#" class="btn-border">Read more</a>
        </div>
        <!-- end post content -->
      </article>
      <!-- end post -->
      <!-- post -->
      <article class="blog-item">
        <!-- post img -->
        <div class="post-media">
          <a href="#">
            <img src="images/blog-3.jpg" alt="" class="img-responsive">
          </a>
        </div>
        <!-- post content -->
        <div class="item-content">
          <!-- post title -->
          <div class="post-title">
            <h2 class="title">
              <a href="blog.html">Theirs months ten had add narrow own.</a>
            </h2>
          </div>
          <!-- post meta -->
          <div class="post-meta">
            <ul>
              <li class="date">January 23, 2014</li>
              <li>
                <span>By
                  <a href="#">John Doe</a>
                </span>
              </li>
              <li>
                <span>in
                  <a href="#">Tutorials</a>
                </span>
              </li>
            </ul>
          </div>
          <!-- post entry -->
          <div class="post-entry">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam semper tincidunt. Suspendisse potenti. In elementum libero nunc, ut rhoncus tellus mollis vel. Nulla gravida, est ac venenatis rutrum, lacus purus tempus ligula, eu consequat enim massa et odio. Nunc placerat consectetur dolor, a ullamcorper neque sollicitudin sit amet. Aenean interdum luctus risus, quis tristique orci venenatis ut. Nullam bibendum ultricies dolor, id vulputate elit consequat at. Nunc ut justo odio. In non dui turpis. Sed quis purus quam. Curabitur rhoncus eros ornare arcu tincidunt ornare…</p>
          </div>
          <!-- read more button -->
          <a href="#" class="btn-border">Read more</a>
        </div>
        <!-- end post content -->
      </article>
      <!-- end post -->
      <!-- post -->
      <article class="blog-item">
        <!-- post img -->
        <div class="post-media">
          <a href="#">
            <img src="images/blog-4.jpg" alt="" class="img-responsive">
          </a>
        </div>
        <!-- post content -->
        <div class="item-content">
          <!-- post title -->
          <div class="post-title">
            <h2 class="title">
              <a href="blog.html">Adieus except say barton put feebly favour him.</a>
            </h2>
          </div>
          <!-- post meta -->
          <div class="post-meta">
            <ul>
              <li class="date">January 23, 2014</li>
              <li>
                <span>By
                  <a href="#">John Doe</a>
                </span>
              </li>
              <li>
                <span>in
                  <a href="#">Tutorials</a>
                </span>
              </li>
            </ul>
          </div>
          <!-- post entry -->
          <div class="post-entry">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam semper tincidunt. Suspendisse potenti. In elementum libero nunc, ut rhoncus tellus mollis vel. Nulla gravida, est ac venenatis rutrum, lacus purus tempus ligula, eu consequat enim massa et odio. Nunc placerat consectetur dolor, a ullamcorper neque sollicitudin sit amet. Aenean interdum luctus risus, quis tristique orci venenatis ut. Nullam bibendum ultricies dolor, id vulputate elit consequat at. Nunc ut justo odio. In non dui turpis. Sed quis purus quam. Curabitur rhoncus eros ornare arcu tincidunt ornare…</p>
          </div>
          <!-- read more button -->
          <a href="#" class="btn-border">Read more</a>
        </div>
        <!-- end post content -->
      </article>
      <!-- end post -->
    </div>
    <!-- end blog content -->
    <!-- pagination -->
    <ul class="pagination">
      <li>
        <a href="#">&laquo;</a>
      </li>
      <li class="active">
        <a href="#">1</a>
      </li>
      <li>
        <a href="#">2</a>
      </li>
      <li>
        <a href="#">3</a>
      </li>
      <li>
        <a href="#">&raquo;</a>
      </li>
    </ul>
    <!-- end pagination -->
  </div>
  <!-- end col 9 -->
  <!-- col 3 -->
  <div class="col-sm-3">
    <!-- sidebar-->
    <div class="sidebar">
      <!-- widget -->
      <div class="widget searchform">
        <form class="searchform">
          <input type="text" name="search" class="search form-control" placeholder="Search...">
        </form>
      </div>
      <!-- end widget -->
      <!-- widget -->
      <div class="widget archives">
        <h4 class="widget-title">Archives</h4>
        <ul class="menu-link list-unstyled">
          <li>
            <a href="#">December 2013</a>
            <span class="count">(2)</span>
          </li>
          <li>
            <a href="#">January 2014</a>
            <span>(5)</span>
          </li>
          <li>
            <a href="#">February 2014</a>
            <span>(3)</span>
          </li>
          <li>
            <a href="#">March 2014</a>
            <span>(4)</span>
          </li>
        </ul>
      </div>
      <!-- end widget -->
      <!-- widget -->
      <div class="widget text">
        <h4 class="widget-title">About Us</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam enim enim, pharetra in sodales at, interdum sit amet dui. </p>
      </div>
      <!-- end widget -->
      <!-- widget -->
      <div class="widget tagcloud">
        <h4 class="widget-title">Tags</h4>
        <a href="#">Creative</a>
        <a href="#">Clean</a>
        <a href="#">Design</a>
        <a href="#">Corporate</a>
        <a href="#">Boostrap 3.1</a>
        <a href="#">Blue</a>
        <a href="#">Optimized</a>
        <a href="#">White</a>
        <a href="#">Customizable</a>
        <a href="#">Sections</a>
      </div>
      <!-- end widget -->
      <!-- widget -->
      <div class="widget categories">
        <h4 class="widget-title">Categories</h4>
        <ul class="menu-link list-unstyled">
          <li>
            <a href="#">Tutorials</a>
          </li>
          <li>
            <a href="#">Photography</a>
          </li>
          <li>
            <a href="#">Web Development</a>
          </li>
          <li>
            <a href="#">Creative Design</a>
          </li>
          <li>
            <a href="#">Marketing</a>
          </li>
        </ul>
      </div>
      <!-- end widget -->
      <!-- widget -->
      <div class="widget tabbed">
        <!-- tabs -->
        <div class="tabbed">
          <!-- tabs headers -->
          <ul class="nav nav-tabs">
            <li class="active">
              <a href="#recent" data-toggle="tab">Recent</a>
            </li>
            <li>
              <a href="#popular" data-toggle="tab">Popular</a>
            </li>
            <li>
              <a href="#popular" data-toggle="tab">Comments</a>
            </li>
          </ul>
          <!-- end tabs headers -->
          <!-- tab panels -->
          <div class="tab-content">
            <div class="tab-pane active" id="recent">
              <div class="widget-post">
                <img src="images/blog-5.jpg" class="img-responsive pull-left">
                <div>
                  <h4 class="widget-post-title">Lorem ipsum dolor sit amet</h4>
                  <span class="date">January 23, 2014.</span>
                </div>
              </div>
              <div class="widget-post">
                <img src="images/blog-6.jpg" class="img-responsive pull-left">
                <div>
                  <h4 class="widget-post-title">Lorem ipsum dolor sit amet</h4>
                  <span class="date">January 23, 2014.</span>
                </div>
              </div>
              <div class="widget-post">
                <img src="images/blog-7.jpg" class="img-responsive pull-left">
                <div>
                  <h4 class="widget-post-title">Lorem ipsum dolor sit amet</h4>
                  <span class="date">January 23, 2014.</span>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="popular">
              <div class="widget-post">
                <img src="images/blog-5.jpg" class="img-responsive pull-left">
                <div>
                  <h4 class="widget-post-title">Lorem ipsum dolor sit amet</h4>
                  <span class="date">January 23, 2014.</span>
                </div>
              </div>
              <div class="widget-post">
                <img src="images/blog-6.jpg" class="img-responsive pull-left">
                <div>
                  <h4 class="widget-post-title">Lorem ipsum dolor sit amet</h4>
                  <span class="date">January 23, 2014.</span>
                </div>
              </div>
              <div class="widget-post">
                <img src="images/blog-7.jpg" class="img-responsive pull-left">
                <div>
                  <h4 class="widget-post-title">Lorem ipsum dolor sit amet</h4>
                  <span class="date">January 23, 2014.</span>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="comments">
              <div class="widget-post">
                <img src="images/blog-5.jpg" class="img-responsive pull-left">
                <div>
                  <h4 class="widget-post-title">Lorem ipsum dolor sit amet</h4>
                  <span class="date">January 23, 2014.</span>
                </div>
              </div>
              <div class="widget-post">
                <img src="images/blog-6.jpg" class="img-responsive pull-left">
                <div>
                  <h4 class="widget-post-title">Lorem ipsum dolor sit amet</h4>
                  <span class="date">January 23, 2014.</span>
                </div>
              </div>
              <div class="widget-post">
                <img src="images/blog-7.jpg" class="img-responsive pull-left">
                <div>
                  <h4 class="widget-post-title">Lorem ipsum dolor sit amet</h4>
                  <span class="date">January 23, 2014.</span>
                </div>
              </div>
            </div>
          </div>
          <!-- end tab panels -->
        </div>
        <!-- end tabs -->
      </div>
      <!-- end widget -->
    </div>
    <!-- sidebar -->
  </div>
  <!-- end col-sm-3 -->
  {{/blog}}
