{{#> blog }}
  <div class="col-sm-12">
    <!-- blog posts container -->
    <div class="blog-content">
      <!-- Post -->
      <article class="blog-item">
        <!-- post img -->
        <div class="post-media">
          <a href="#">
            <img src="images/blog-1.jpg" alt="" class="img-responsive">
          </a>
        </div>
        <!-- post content -->
        <div class="item-content">
          <!-- post title -->
          <div class="post-title">
            <h2 class="title">
                      <a href="blog.html">Behaved the comfort another fifteen eat.</a>
                    </h2>
          </div>
          <!-- Post Meta -->
          <div class="post-meta">
            <ul>
              <li class="date">January 23, 2014</li>
              <li>
                <span>By <a href="#">John Doe</a></span>
              </li>
              <li>
                <span>in <a href="#">Tutorials</a></span>
              </li>
            </ul>
          </div>
          <!-- post entry -->
          <div class="post-entry">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam semper tincidunt. Suspendisse potenti. In elementum libero nunc, ut rhoncus tellus mollis vel. Nulla gravida, est ac venenatis rutrum, lacus purus tempus ligula, eu consequat enim massa et odio. Nunc placerat consectetur dolor, a ullamcorper neque sollicitudin sit amet. Aenean interdum luctus risus, quis tristique orci venenatis ut. Nullam bibendum ultricies dolor, id vulputate elit consequat at. Nunc ut justo odio. In non dui turpis. Sed quis purus quam. Curabitur rhoncus eros ornare arcu tincidunt ornare…</p>
          </div>
          <!-- read more button -->
          <a href="#" class="btn-border">Read more</a>
        </div>
        <!-- end post content -->
      </article>
      <!-- end post -->
      <!-- post -->
      <article class="blog-item">
        <!-- post img -->
        <div class="post-media">
          <a href="#">
            <img src="images/blog-2.jpg" alt="" class="img-responsive">
          </a>
        </div>
        <!-- post content -->
        <div class="item-content">
          <!-- post title -->
          <div class="post-title">
            <h2 class="title">
                      <a href="blog.html">Consider declared out expenses her concerns.</a>
                    </h2>
          </div>
          <!-- post meta -->
          <div class="post-meta">
            <ul>
              <li class="date">January 23, 2014</li>
              <li>
                <span>By <a href="#">John Doe</a></span>
              </li>
              <li>
                <span>in <a href="#">Tutorials</a></span>
              </li>
            </ul>
          </div>
          <!-- post entry -->
          <div class="post-entry">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam semper tincidunt. Suspendisse potenti. In elementum libero nunc, ut rhoncus tellus mollis vel. Nulla gravida, est ac venenatis rutrum, lacus purus tempus ligula, eu consequat enim massa et odio. Nunc placerat consectetur dolor, a ullamcorper neque sollicitudin sit amet. Aenean interdum luctus risus, quis tristique orci venenatis ut. Nullam bibendum ultricies dolor, id vulputate elit consequat at. Nunc ut justo odio. In non dui turpis. Sed quis purus quam. Curabitur rhoncus eros ornare arcu tincidunt ornare…</p>
          </div>
          <!-- read more button -->
          <a href="#" class="btn-border">Read more</a>
        </div>
        <!-- end post content -->
      </article>
      <!-- end post -->
      <!-- post -->
      <article class="blog-item">
        <!-- post img -->
        <div class="post-media">
          <a href="#">
            <img src="images/blog-3.jpg" alt="" class="img-responsive">
          </a>
        </div>
        <!-- post content -->
        <div class="item-content">
          <!-- post title -->
          <div class="post-title">
            <h2 class="title">
                      <a href="blog.html">Theirs months ten had add narrow own.</a>
                    </h2>
          </div>
          <!-- post meta -->
          <div class="post-meta">
            <ul>
              <li class="date">January 23, 2014</li>
              <li>
                <span>By <a href="#">John Doe</a></span>
              </li>
              <li>
                <span>in <a href="#">Tutorials</a></span>
              </li>
            </ul>
          </div>
          <!-- post entry -->
          <div class="post-entry">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam semper tincidunt. Suspendisse potenti. In elementum libero nunc, ut rhoncus tellus mollis vel. Nulla gravida, est ac venenatis rutrum, lacus purus tempus ligula, eu consequat enim massa et odio. Nunc placerat consectetur dolor, a ullamcorper neque sollicitudin sit amet. Aenean interdum luctus risus, quis tristique orci venenatis ut. Nullam bibendum ultricies dolor, id vulputate elit consequat at. Nunc ut justo odio. In non dui turpis. Sed quis purus quam. Curabitur rhoncus eros ornare arcu tincidunt ornare…</p>
          </div>
          <!-- read more button -->
          <a href="#" class="btn-border">Read more</a>
        </div>
        <!-- end post content -->
      </article>
      <!-- end post -->
      <!-- post -->
      <article class="blog-item">
        <!-- post img -->
        <div class="post-media">
          <a href="#">
            <img src="images/blog-4.jpg" alt="" class="img-responsive">
          </a>
        </div>
        <!-- post content -->
        <div class="item-content">
          <!-- post title -->
          <div class="post-title">
            <h2 class="title">
                      <a href="blog.html">Adieus except say barton put feebly favour him.</a>
                    </h2>
          </div>
          <!-- post meta -->
          <div class="post-meta">
            <ul>
              <li class="date">January 23, 2014</li>
              <li>
                <span>By <a href="#">John Doe</a></span>
              </li>
              <li>
                <span>in <a href="#">Tutorials</a></span>
              </li>
            </ul>
          </div>
          <!-- post entry -->
          <div class="post-entry">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam semper tincidunt. Suspendisse potenti. In elementum libero nunc, ut rhoncus tellus mollis vel. Nulla gravida, est ac venenatis rutrum, lacus purus tempus ligula, eu consequat enim massa et odio. Nunc placerat consectetur dolor, a ullamcorper neque sollicitudin sit amet. Aenean interdum luctus risus, quis tristique orci venenatis ut. Nullam bibendum ultricies dolor, id vulputate elit consequat at. Nunc ut justo odio. In non dui turpis. Sed quis purus quam. Curabitur rhoncus eros ornare arcu tincidunt ornare…</p>
          </div>
          <!-- read more button -->
          <a href="#" class="btn-border">Read more</a>
        </div>
        <!-- end post content -->
      </article>
      <!-- end post -->
    </div>
    <!-- end blog content -->
    <!-- pagination -->
    <ul class="pagination">
      <li><a href="#">&laquo;</a></li>
      <li class="active"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul>
    <!-- end pagination -->
  </div>
  <!-- end col-sm-12 -->
  {{/blog}}
