{{#> default }}
  <!-- map -->
  <div id="map" class="map"></div>
  <!-- end map -->
  <!-- contact wrapper -->
  <div class="contact container">
    <div class="row">
      <!-- col 8 -->
      <div class="section-head col-md-8">
        <h1 class="section-title">Contact <strong>Us</strong></h1>
        <p>You can do that by simply using the contacts from below.It work just fine and validate fileds too.</p>
        <div id="message"></div>
        <form role="form" method="post" action="contact.php" class="contactform">
          <div class="row">
            <div class="form-group col-md-6">
              <label for="name">Your Name
                <span class="help-required">*</span>
              </label>
              <input type="text" name="name" id="name" value="" class="form-control required" aria-required="true" />
            </div>
            <div class="form-group col-md-6">
              <label for="email">Your Email
                <span class="help-required">*</span>
              </label>
              <input type="email" name="email" id="email" value="" class="form-control required email" aria-required="true" />
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <label for="subject">Subject
                <span class="help-required">*</span>
              </label>
              <input type="text" name="subject" id="subject" class="form-control required">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <label for="comments">Message
                <span class="help-required">*</span>
              </label>
              <textarea rows="8" name="comments" id="comments" class="form-control required" aria-required="true"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="actions col-md-12">
              <input type="submit" value="Send Message" name="submit" id="submit" class="btn" title="Click here to submit your message!" />
            </div>
          </div>
        </form>
      </div>
      <!-- end col 8 -->
      <!-- col 4 -->
      <div class="col-md-4">
        <!-- widget -->
        <div class="widget">
          <h3>Aditional info</h3>
          <p>But also the leap into electronic typesetting.</p>
          <div class="row">
            <!-- col 12 -->
            <div class="col-sm-12">
              <h4><i class="fa fa-map-marker"></i>Address</h4>
              <address>
                Design Company
                <br> 55 Eva. Avenue., 1004/115
                <br> Sarajevo, BA 00125-4587 BiH
                <br>
              </address>
            </div>
            <!-- end col 12 -->
          </div>
          <!-- end row -->
          <div class="row">
            <!-- col 12 -->
            <div class="col-sm-12">
              <h4><i class="fa fa-phone"></i>Phone</h4>
              <p>646906327</p>
            </div>
            <!-- end col 12 -->
          </div>
          <!-- end row -->
          <div class="row">
            <!-- col 12 -->
            <div class="col-sm-12">
              <h4><i class="fa fa-envelope"></i>Email</h4>
              <email>
                <p>lauramoreno1436@gmail.com</p>
              </email>
            </div>
            <!-- end col 12 -->
          </div>
          <!-- end row -->
          <div class="row">
            <!-- col 12 -->
            <div class="col-sm-12">
              <h4><i class="fa fa-globe"></i>Website</h4>
              <p>www.mas-que-ciencia.com</p>
            </div>
          </div>
          <!-- end col 12 -->
        </div>
        <!-- end row -->
      </div>
      <!-- end widget -->
    </div>
    <!-- end col 4 -->
  </div>
  <!-- end Contact wrapper -->
  {{/default}}
