{{#> post }}
  <div class="col-sm-9 pull-right">
    <div class="blog-content">
      <!-- blog article -->
      <article class="blog-item">
        <!-- post media -->
        <div class="post-media">
          <a href="#">
            <img src="images/blog-3.jpg" alt="" class="img-responsive">
          </a>
        </div>
        <!-- end post media -->
        <!-- post content -->
        <div class="item-content">
          <!-- post entry -->
          <div class="post-entry">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam enim enim, pharetra in sodales at, interdum sit amet dui. Nullam vulputate euismod urna non pharetra. Phasellus blandit mattis ipsum, ac laoreet lorem lacinia et. Cras et ligula libero.</p>
            <p>By spite about do of do allow blush. Additions in conveying or collected objection in. Suffer few desire wonder her object hardly nearer. Abroad no chatty others my silent an. Fat way appear denote who wholly narrow gay settle. Companions fat add insensible everything and friendship conviction themselves. Theirs months ten had add narrow own. </p>
            <p>Adieus except say barton put feebly favour him. Entreaties unpleasant sufficient few pianoforte discovered uncommonly ask. Morning cousins amongst in mr weather do neither. Warmth object matter course active law spring six. Pursuit showing tedious unknown winding see had man add. And park eyes too more him. Simple excuse active had son wholly coming number add. Though all excuse ladies rather regard assure yet. If feelings so prospect no as raptures quitting.</p>
            <p>Be me shall purse my ought times. Joy years doors all would again rooms these. Solicitude announcing as to sufficient my. No my reached suppose proceed pressed perhaps he. Eagerness it delighted pronounce repulsive furniture no. Excuse few the remain highly feebly add people manner say. It high at my mind by roof. No wonder worthy in dinner.</p>
            <p>Arrived compass prepare an on as. Reasonable particular on my it in sympathize. Size now easy eat hand how. Unwilling he departure elsewhere dejection at. Heart large seems may purse means few blind. Exquisite newspaper attending on certainty oh suspicion of. He less do quit evil is. Add matter family active mutual put wishes happen.</p>
            <div class="divider"></div>
            <p>Ought these are balls place mrs their times add she. Taken no great widow spoke of it small. Genius use except son esteem merely her limits. Sons park by do make on. It do oh cottage offered cottage in written. Especially of dissimilar up attachment themselves by interested boisterous. Linen mrs seems men table. Jennings dashwood to quitting marriage bachelor in. On as conviction in of appearance apartments boisterous.</p>
            <p>Sigh view am high neat half to what. Sent late held than set why wife our. If an blessing building steepest. Agreement distrusts mrs six affection satisfied. Day blushes visitor end company old prevent chapter. Consider declared out expenses her concerns. No at indulgence conviction particular unsatiable boisterous discretion. Direct enough off others say eldest may exeter she. Possible all ignorant supplied get settling marriage recurred.</p>
          </div>
          <!-- end Post Entry -->
        </div>
        <!-- end Post Content -->
      </article>
      <!-- end blog article -->
      <!-- pagination -->
      <ul class="pager">
        <li class="previous">
          <a href="#">&larr; Story Second</a>
        </li>
        <li class="next">
          <a href="#">Blog story &rarr;</a>
        </li>
      </ul>
      <!-- end pagination -->
    </div>
    <!-- end blog-content -->
    <!-- comments -->
    <div id="comments-wrapper">
      <h3>3 Comments on "Omnis iste lom impsut sit amet"</h3>
      <ul class="list-unstyled">
        <li>
          <div class="avatar">
            <img src="images/team3.jpg" alt="" class="img-responsive">
          </div>
          <div class="content">
            <div class="comment-head">
              <h2>John Doe</h2>
              <span class="comment-date">January 13, 2014</span>
              <div class="comment-buttons">
                <a href="#"><i class="fa fa-pencil"></i> Edit</a>
                <a href="#"><i class="fa fa-reply"></i> Reply</a>
              </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam enim enim, pharetra in sodales at, interdum sit amet dui. Nullam vulputate euismod urna non pharetra. Phasellus blandit mattis ipsum, ac laoreet lorem lacinia et. Cras et ligula libero.</p>
          </div>
        </li>
        <li>
          <div class="avatar">
            <img src="images/team1.jpg" alt="" class="img-responsive">
          </div>
          <div class="content">
            <div class="comment-head">
              <h2>Jane Doe</h2>
              <span class="comment-date">January 13, 2014</span>
              <div class="comment-buttons">
                <a href="#"><i class="fa fa-pencil"></i>Edit</a>
                <a href="#"><i class="fa fa-reply"></i>Reply</a>
              </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam enim enim, pharetra in sodales at, interdum sit amet dui. Nullam vulputate euismod urna non pharetra. Phasellus blandit mattis ipsum, ac laoreet lorem lacinia et. Cras et ligula libero.</p>
          </div>
          <ul class="list-unstyled">
            <li>
              <div class="avatar">
                <img src="images/team2.jpg" alt="" class="img-responsive">
              </div>
              <div class="content">
                <div class="comment-head">
                  <h2>Kate Doe</h2>
                  <span class="comment-date">January 13, 2014</span>
                  <div class="comment-buttons">
                    <a href="#"><i class="fa fa-pencil"></i>Edit</a>
                    <a href="#"><i class="fa fa-reply"></i>Reply</a>
                  </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam enim enim, pharetra in sodales at, interdum sit amet dui. Nullam vulputate euismod urna non pharetra. Phasellus blandit mattis ipsum, ac laoreet lorem lacinia et. Cras et ligula libero.</p>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- end Comments -->
  </div>
  <!-- end col 9 -->
  <!-- col 3 -->
  <div class="col-sm-3">
    <!-- sidebar-->
    <div class="sidebar">
      <!-- widget -->
      <div class="widget searchform">
        <form class="searchform">
          <input type="text" name="search" class="search form-control" placeholder="Search...">
        </form>
      </div>
      <!-- end widget -->
      <!-- widget -->
      <div class="widget archives">
        <h4 class="widget-title">Archives</h4>
        <ul class="menu-link list-unstyled">
          <li>
            <a href="#">December 2013</a>
            <span class="count">(2)</span>
          </li>
          <li>
            <a href="#">January 2014</a>
            <span>(5)</span>
          </li>
          <li>
            <a href="#">February 2014</a>
            <span>(3)</span>
          </li>
          <li>
            <a href="#">March 2014</a>
            <span>(4)</span>
          </li>
        </ul>
      </div>
      <!-- end widget -->
      <!-- widget -->
      <div class="widget text">
        <h4 class="widget-title">About Us</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam enim enim, pharetra in sodales at, interdum sit amet dui. </p>
      </div>
      <!-- end widget -->
      <!-- widget -->
      <div class="widget tagcloud">
        <h4 class="widget-title">Tags</h4>
        <a href="#">Creative</a>
        <a href="#">Clean</a>
        <a href="#">Design</a>
        <a href="#">Corporate</a>
        <a href="#">Boostrap 3.1</a>
        <a href="#">Blue</a>
        <a href="#">Optimized</a>
        <a href="#">White</a>
        <a href="#">Customizable</a>
        <a href="#">Sections</a>
      </div>
      <!-- end widget -->
      <!-- widget -->
      <div class="widget categories">
        <h4 class="widget-title">Categories</h4>
        <ul class="menu-link list-unstyled">
          <li>
            <a href="#">Tutorials</a>
          </li>
          <li>
            <a href="#">Photography</a>
          </li>
          <li>
            <a href="#">Web Development</a>
          </li>
          <li>
            <a href="#">Creative Design</a>
          </li>
          <li>
            <a href="#">Marketing</a>
          </li>
        </ul>
      </div>
      <!-- end widget -->
      <!-- widget -->
      <div class="widget tabbed">
        <!-- Tabs -->
        <div class="tabbed">
          <!-- tabs headers -->
          <ul class="nav nav-tabs">
            <li class="active">
              <a href="#recent" data-toggle="tab">Recent</a>
            </li>
            <li>
              <a href="#popular" data-toggle="tab">Popular</a>
            </li>
            <li>
              <a href="#popular" data-toggle="tab">Comments</a>
            </li>
          </ul>
          <!-- end tabs headers -->
          <!-- Tab panels -->
          <div class="tab-content">
            <div class="tab-pane active" id="recent">
              <div class="widget-post">
                <img src="images/blog-5.jpg" class="img-responsive pull-left">
                <div>
                  <h4 class="widget-post-title">Lorem ipsum dolor sit amet</h4>
                  <span class="date">January 23, 2014.</span>
                </div>
              </div>
              <div class="widget-post">
                <img src="images/blog-6.jpg" class="img-responsive pull-left">
                <div>
                  <h4 class="widget-post-title">Lorem ipsum dolor sit amet</h4>
                  <span class="date">January 23, 2014.</span>
                </div>
              </div>
              <div class="widget-post">
                <img src="images/blog-7.jpg" class="img-responsive pull-left">
                <div>
                  <h4 class="widget-post-title">Lorem ipsum dolor sit amet</h4>
                  <span class="date">January 23, 2014.</span>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="popular">
              <div class="widget-post">
                <img src="images/blog-5.jpg" class="img-responsive pull-left">
                <div>
                  <h4 class="widget-post-title">Lorem ipsum dolor sit amet</h4>
                  <span class="date">January 23, 2014.</span>
                </div>
              </div>
              <div class="widget-post">
                <img src="images/blog-6.jpg" class="img-responsive pull-left">
                <div>
                  <h4 class="widget-post-title">Lorem ipsum dolor sit amet</h4>
                  <span class="date">January 23, 2014.</span>
                </div>
              </div>
              <div class="widget-post">
                <img src="images/blog-7.jpg" class="img-responsive pull-left">
                <div>
                  <h4 class="widget-post-title">Lorem ipsum dolor sit amet</h4>
                  <span class="date">January 23, 2014.</span>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="comments">
              <div class="widget-post">
                <img src="images/blog-5.jpg" class="img-responsive pull-left">
                <div>
                  <h4 class="widget-post-title">Lorem ipsum dolor sit amet</h4>
                  <span class="date">January 23, 2014.</span>
                </div>
              </div>
              <div class="widget-post">
                <img src="images/blog-6.jpg" class="img-responsive pull-left">
                <div>
                  <h4 class="widget-post-title">Lorem ipsum dolor sit amet</h4>
                  <span class="date">January 23, 2014.</span>
                </div>
              </div>
              <div class="widget-post">
                <img src="images/blog-7.jpg" class="img-responsive pull-left">
                <div>
                  <h4 class="widget-post-title">Lorem ipsum dolor sit amet</h4>
                  <span class="date">January 23, 2014.</span>
                </div>
              </div>
            </div>
          </div>
          <!-- end tab panels -->
        </div>
        <!-- end tabs -->
      </div>
      <!-- end widget -->
    </div>
    <!-- sidebar -->
  </div>
  <!-- end col 3 -->
  {{/post}}
