a
{
    color: #278dc5;
}a:active,
a:focus,
a:hover
{
    color: #278dc5;
}h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong
{
    color: #278dc5;
}.circular
{
    background-color: #278dc5;
}.loader-item
{
    color: #278dc5;border-color: #278dc5;
}.btn,
.btn-border
{
    background-color: #278dc5;
}.btn-border
{
    color: #278dc5;border-color: #278dc5;
}.btn-border:hover
{
    color: #278dc5;
}.socials li:hover
{
    border-color: #278dc5;background-color: #278dc5;
}.error_message
{
    color: #8a1f11;border-color: #fbc2c4;background-color: #fbe3e4;
}.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover
{
    color: #278dc5;border-top-color: #278dc5;
}.navbar-inverse .navbar-nav > .active > a
{
    color: #278dc5;border-top-color: #278dc5;
}.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover
{
    color: #278dc5;border-top-color: #278dc5;
}.dropdown-menu li a:focus,
.dropdown-menu li a:hover
{
    background-color: #278dc5;
}.dropdown-menu .active > a
{
    background-color: #278dc5;
}.dropdown-menu .active > a:focus,
.dropdown-menu .active > a:hover
{
    background-color: #278dc5;
}.nav-tabs li.active > a
{
    border-top-color: #278dc5;
}.nav-tabs li.active > a:focus,
.nav-tabs li.active > a:hover
{
    border-top-color: #278dc5;
}.progress-bar
{
    background-color: #278dc5;
}.member .info span
{
    color: #278dc5;
}.filters li a
{
    border-color: #278dc5;
}.filters li a.active,
.filters li a:hover
{
    border-color: #278dc5;background-color: #278dc5;
}.attribution .attr-info strong
{
    color: #278dc5;
}.note
{
    background-color: #278dc5;
}.note::after
{
    background-color: #278dc5;
}.note:nth-of-type(2n+1)::before
{
    border-right-color: #278dc5;
}.note:nth-of-type(2n+2)::before
{
    border-left-color: #278dc5;
}.panel-title a
{
    color: #434955;
}.panel-title span
{
    background-color: #278dc5;
}.menu-link > li a:hover
{
    color: #278dc5;
}.categories li a:hover
{
    color: #278dc5;
}.widget li a:hover
{
    color: #278dc5;
}.tagcloud a:hover
{
    background-color: #278dc5;
}.pager li a
{
    background-color: #278dc5;
}.pager li a:focus,
.pager li a:hover
{
    background-color: #278dc5;
}.pagination .active a
{
    border-color: #278dc5;background-color: #278dc5;
}.pagination li a
{
    color: #278dc5;border-color: #278dc5;
}.pagination li a:focus,
.pagination li a:hover
{
    background-color: #278dc5;
}@media (max-width:770px)
{
    .note:nth-of-type(2n+1)::before
    {
        border-bottom-color: #278dc5;
    }.note:nth-of-type(2n+2)::before
    {
        border-bottom-color: #278dc5;
    }
}
